/* const */
@font-family-1: \5FAE\8EDF\6B63\9ED1\9AD4;
@font-family-2: \5FAE\8F6F\96C5\9ED1;
@font-family-3: \534E\6587\7EC6\9ED1;
@color: #2196f3;
@gray: #cccccc;


/* base common */
.w() {
	width: 100%;
}
.bbox() {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.create-font-size(@n) when (@n >= 12) {
	.create-font-size((@n - 2));
	.f@{n} {
		font-size: @n * .1rem;
	}
	.lh@{n} {
		line-height: @n * .1rem;
	}
}
.create-margin-padding(@n) when (@n > 0) {
	.create-margin-padding((@n - 5));
	.p@{n} {
		padding: @n * .1rem;
	}
	.pt@{n} {
		padding-top: @n * .1rem;
	}
	.pr@{n} {
		padding-right: @n * .1rem;
	}
	.pb@{n} {
		padding-bottom: @n * .1rem;
	}
	.pl@{n} {
		padding-left: @n * .1rem;
	}
	.m@{n} {
		margin: @n * .1rem;
	}
	.mt@{n} {
		margin-top: @n * .1rem;
	}
	.mr@{n} {
		margin-right: @n * .1rem;
	}
	.mb@{n} {
		margin-bottom: @n * .1rem;
	}
	.ml@{n} {
		margin-left: @n * .1rem;
	}
}
.transition(@time, @delay:0s) {
	transition: @time all ease-in-out @delay;
	-webkit-transition: @time all ease-in-out @delay;
	-moz-transition: @time all ease-in-out @delay;
	-o-transition: @time all ease-in-out @delay;
	-ms-transition: @time all ease-in-out @delay;
}

html {
	font-size: 62.5%;
}
html,body,div,h1,h2,h3,h4,h5,h6,p,span,a,ul,li,input,button,textarea {
	font-family: 'PT serif', @font-family-1, @font-family-2, @font-family-3, Microsoft Yahei, Hiragino Sans GB, sans-serif, Arial;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
	margin: 0;
	padding: 0;
	color: #222222;
}
html,body {
	.w();
	height: 100%;
}
::-webkit-scrollbar-track-piece {
	background-color: #cccccc;
}
::-webkit-scrollbar {
	width: 4px;
	height: 6px;
}
::-webkit-scrollbar-thumb {
	height: 40px;
	background-color: #999999;
	&:hover {
		background-color: #666666;
	};
}
input,button,textarea,a {
	outline: none;
}
ul,li {
	list-style: none;
}
li {
	display: inline-block;
	padding: 3px 5px;
}
a {
	text-decoration: none;
	color: @color;
}
del {
	text-decoration: line-through;
	color: #999999;
}
.b {
	.w();
	height: 2rem;
	line-height: 2rem;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -1rem;
}

.al {
	text-align: left;
}
.ac {
	text-align: center;
}
.ar {
	text-align: right;
}
.ov {
	overflow: hidden;
}
.block {
	display: block;
}
.none {
	display: none;
}
.black {
	color: #222222;
}
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
.bbox {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.gray {
	color: #999999;
}

.create-margin-padding(30);
.create-font-size(30);


.index {
	.w();
	height: 20rem;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -10rem;
}
.avatar {
	width: 12rem;
	height: 12rem;
	border-radius: 100%;
	margin: 0 auto;
	background: url(../img/avatar.jpg) no-repeat center;
	background: -webkit-image-set(url(../img/avatar.jpg) 1x,url(../img/avatar@2x.jpg) 2x) no-repeat center;
	background-size: 100%;
}
.master {
	padding: 1rem 0;
	margin: 1rem 0;
	text-transform: capitalize;
	b {
		position: relative;
		cursor: pointer;
		&:hover:before {
			visibility: visible;
			transform: scaleX(1);
		}
		&:before {
			content: '';
			.w();
			height: 2px;
			position: absolute;
			bottom: -1px;
			background-color: #000000;
			z-index: 9;
			visibility: hidden;
			transform: scaleX(0);
			.transition(.2s);
		};
		/*&:after {
			content: '';
			.w();
			height: 0px;
			position: absolute;
			bottom: -1px;
			left: 0;
			border-top: 2px dotted #666666;
		};*/
	};
}
.header {
	.w();
	padding: 2rem 0;
}
.content {
	.w();
	max-width: 650px;
	padding: 0 15px;
	margin: 0 auto;
	.bbox();
}
.all-con {
	.w();
	margin-top: 3rem;
}
.spinner {
	width: 3.6rem;
	height: 3.6rem;
	position: relative;
	margin: 1rem auto;
}
.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: @color;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
@-webkit-keyframes bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}
 
@keyframes bounce {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
.reload {
	padding-bottom: .2rem;
	color: #999999;
	cursor: pointer;
	border-bottom: 1px solid @gray;
}
.load-before {
	padding: 1.2rem 3.2rem;
	border: 0;
	cursor: pointer;
	border-radius: 6px;
	background-color: #ffffff;
	margin: 0 auto 8rem auto;
	.transition(.5s);
	&:hover {
		background-color: #e3e3e3;
	};
}

.list {
	margin-bottom: 8rem;
}
.list-time,.list-tag {
	display: inline-block;
	font-weight: 600;
	padding: 3px 4px;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
}
.list-time {
	background-color: #eeeeee;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.list-tag {
	color: #332a28;
	&:last-child {
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	};
}
.list-view {
	/*text-indent: 2.8rem;*/
	text-align: justify;
}

.title {
	color: #3d3d3d;
	position: relative;
	.transition(.3s);
	&:hover {
		color: #222222;
	};
	&:before {
		content: '';
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: #333333;
		visibility: visible;
		transform: scaleX(0);
		.transition(.25s);
	};
	&:after {
		content: '';
		width: 100%;
		height: 2px;
		position: absolute;
		right: 0;
		bottom: -3px;
		background-color: #333333;
		visibility: visible;
		transform: scaleX(0);
		.transition(.25s);
	};
	&:hover:before {
		visibility: visible;
		transform: scaleX(1);
	};
	&:hover:after {
		visibility: visible;
		transform: scaleX(1);
	};
}

.load-before-animation {
	-webkit-animation: loadbebore .4s 1 ease-in-out;
	animation: loadbebore .4s 1 ease-in-out;
}
@-webkit-keyframes loadbebore {
	0%, 50%, 100% {
		-webkit-transform: scale(1);
	}25%, 75% {
		-webkit-transform: scale(1.2);
	}
}
@keyframes loadbebore {
	0%, 50%, 100% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}25%, 75% {
		transform: scale(1.2);
		-webkit-transform: scale(1.2);
	}
}

.tags-label {
	font-size: 1.6rem;
	display: inline-block;
	padding: .3rem .8rem;
	font-weight: 600;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
	color: #332a28;
	border-radius: 3px;
	margin-left: 1.2rem;
}
.tags-label:first-child {
	margin: 0;
}

.search {
	.w();
	position: relative;
	margin-bottom: 6rem;
	&:before {
		content: '';
		width: 1.5rem;
		height: 1.5rem;
		position: absolute;
		border: 3px solid @gray;
		border-radius: 100%;
		top: 1.1rem;
		left: 1.5rem;
		.bbox();
	};
	&:after {
		content: '';
		width: 3px;
		height: .9rem;
		background-color: @gray;
		position: absolute;
		top: 2.1rem;
		left: 2.9rem;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
	};
	input {
		.w();
		border: 0;
		border-radius: 2rem;
		padding: .5rem 3rem .5rem 4.5rem;
		background: #eeeeee;
		height: 4rem;
		line-height: 4rem;
		.transition(.3s);
		&:focus {
			/*background: @gray;*/
			@blur: 1rem;
			@spread: 1px;
			@alpha: .1;
			box-shadow: 0 0 @blur @spread rgba(0,0,0,@alpha) inset;
			-webkit-box-shadow: 0 0 @blur @spread rgba(0,0,0,@alpha) inset;
			-moz-box-shadow: 0 0 @blur @spread rgba(0,0,0,@alpha) inset;
		};
	};
}

.views-h(@n) when (@n > 0){
	.views-h((@n - 1));
	.views h@{n}{
		font-size: (22 - @n) * .1rem;
		padding: .5rem 0;
		margin-bottom: 1.5rem;
	}
}
.views-h(6);
.views p {
	font-size: 1.6rem;
	line-height: 3rem;
	margin-bottom: 1.5rem;
}
.views ul {
	margin-bottom: 1.5rem;
}
.views li {
	font-size: 1.4rem;
	line-height: 3rem;
	display: list-item;
	list-style: circle inside;
	padding: 0;
}
.views li p {
	display: inline-block;
	/*text-indent: 0px;*/
}
.views img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.views code {
	background-color: rgba(0,0,0,0.04);
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	border-radius: 3px;
	padding: 0.2rem 0;
	font-size: 1.4rem;
	&:before {
		letter-spacing: -0.2em;
		content: "\00a0";
	};
	&:after {
		letter-spacing: -0.2em;
		content: "\00a0";
	};
}
.views pre {
	font-size: 1.6rem;
	margin: 1.5rem 0;
}
.views pre code {
	padding: 1.5rem;
	border-radius: 6px;
	font-size: 87.5%;
	background: #23241f;
	.bbox();
	&:before {
		content: '';
	};
	&:after {
		content: '';
	};
}
.views pre code span {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
code span {
	color: #ffffff;
}
.views blockquote {
	padding: 0 1rem;
	border-left: 0.25rem solid #dddddd;
	margin: 0;
	margin-bottom: 1.5rem;
}
.views blockquote p {
	/*text-indent: 0rem;*/
	color: #777777;
	line-height: 2rem;
}

.article-pt80 {
	padding-top: 8rem;
}


.abt {
	height: 6rem;
	line-height: 3rem;
	margin-top: -3rem;
}

.search-ol {
	.w();
}

.opacity-bg {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: #000000;
	opacity: 0;
	filter: alpha(opacity=0);
	display: none;
	overflow-y: scroll;
}

.alipay,.WeChat {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	opacity: 0;
	filter: alpha(opacity=0);
	display: none;
	cursor: pointer;
}

.opacity-bg,.alipay,.WeChat {
	.transition(.2s);
}

.alipay img,.WeChat img {
	width: 60%;
	max-width: 20rem;
	margin: 25% auto 0 auto;
	display: block;
	border-radius: 6px;
}

.opacity-bg.block,.alipay.block,.WeChat.block {
	display: block;
}

.opacity-bg.in {
	opacity: .5;
	filter: alpha(opacity=50);
}
.alipay.in,.WeChat.in {
	opacity: 1;
	filter: alpha(opacity=100);
}